<a href="https://colab.research.google.com/github/Sharishmaadabala/python_with_dsa/blob/main/python_codes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

prime number or not

In [ ]:
def is_prime(n):
  if n <= 1:
    return False
  for i in range(2, int(n**0.5) + 1):
      if n % i == 0:
        return False
  return True
#example usage
print(is_prime(7))

True

fibonocci

In [ ]:
def fibonocci(n):
  a,b = 0,1
  for i in range(n):
    print(a,  end=" ")
    a,b = b,a+b
# eaxmaple usage
print(fibonocci(5))

0 1 1 2 3 None

reverse string

In [ ]:
def reverse_string(s):
  return s[::-1]
#example usage
print(reverse_string("hello"))

olleh

factorialm

In [ ]:
def factorial(n):
  if n == 0 or n == 1:
    return 1
  return n*factorial(n-1)
print(factorial(5))

120

palindrome

In [ ]:
def is_palindrome(s):
  return s == s[::-1]
print(is_palindrome("madam"))

True

arm strong

In [ ]:
def is_armstrong(n):
  digit = str(n)
  power = len(digit)
  total = sum(int(d)**power for d in digit)
  return total == n
print(is_armstrong(153))

True

In [ ]:
n = int(input())
a = sum(int(digit)**len(str(n) for digit in str(n)))
if a == n
  print("true")
else:
  print("no")

**largest element in list**

In [ ]:
def largest_element(n):
  return max(n)
print(largest_element([1,2,3,4,5,6,7,8]))

8

swap element

In [ ]:
a = int(input())
b = int(input())
a,b = b,a
print(a,b)

5
6
6 5

sum of digits

In [ ]:
def sum_digits(n):
  return sum(int(d) for d in str(n))
print(sum_digits(123456))

21

count of vowels

In [ ]:
def count_vowels(n):
  vowels = "aeiouAEIOU"
  return sum( 1 for char in n if char in vowels)
print(count_vowels("hello world"))

3

even and odd

In [ ]:
def even_odd(n):
  if n % 2 == 0:
    return True
  else:
    return False
print(even_odd(3))

False

gcd

In [ ]:
def find_gcd(a,b):
  import math
  return math.gcd(a,b)
print(find_gcd(12,18))

6

lcm of two numbers

In [ ]:
from math import gcd
def lcm_of_two_numbers(a,b):
  return abs(a*b)//gcd(a,b)
print(lcm_of_two_numbers(12,15))

60

leap year

In [ ]:
def leap_year(year):
  return(year % 4 == 0 and year % 100 != 0) or (year % 100 == 0)
print(leap_year(2025))

False

length of list with out list

In [ ]:
def count_list(n):
  count = 0
  for i in n:
   count += 1
  return count
print(count_list([1,2,3,4,5,6]))

6

find duplicate elements in list

In [ ]:
def find_duplicate(n):
  return list(set([x for x in n if n.count(x)> 1]))
print(find_duplicate([1,2,3,4,3,4,5,6]))

[3, 4]

sort list without using sort

In [ ]:
def manual_sort(list):
  for i in range(len(list)):
    for j in range(i + 1,len(list)):
     if list[i] > list[j]:
      list[i],list[j] = list[j],list[i]
  return list
print(manual_sort([1,2,3,9,8,6,7]))

[1, 2, 3, 6, 7, 8, 9]

merge two list

In [ ]:
def merge_list(a,b):
  return a + b
print(merge_list([1,2,3,4],[1,2,3,4,5]))

[1, 2, 3, 4, 1, 2, 3, 4, 5]

remove duplicate list

In [ ]:
def remove_duplicate(n):
  return list(set(n))
print(remove_duplicate([1,2,3,4,3,4,5,6,5]))

[1, 2, 3, 4, 5, 6]

second largest number in list

In [ ]:
def second_largest(list):
  first = second = float("-inf")
  for num in list:
    if num > first:
      second = first
      first = num
    elif first > num > second:
      second = num
  return second
print(second_largest([3,5,2]))

3

perfect sqaure

In [ ]:
import math
def perfect_square(n):
  return int(math.sqrt(n))**2 == n
print(perfect_square(16))

True

all factors of a number

In [ ]:
def factors(n):
  return [i for i in range(1,n+1) if n%i == 0]
print(factors((12)))

[1, 2, 3, 4, 6, 12]

count frequency of elements in list

In [ ]:
from collections import Counter
def count_frequency(n):
  return dict(Counter(n))
print(count_frequency([1,2,3,2]))

{1: 1, 2: 2, 3: 1}

check if two stings are anagram

In [ ]:
def two_anagram(a,b):
  return sorted(a) == sorted(b)
print(two_anagram("listen","silent"))

True

sum of digits numbers using while loop

In [ ]:
n = int(input())
total = 0
while n > 0:
  total += n % 10
  n//=10
print(total)

234
9

In [ ]:
for i in range(1, 11):
    if i == 5:
        break
    print(i)

1
2
3
4

In [ ]:
for i in range(1, 11):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [ ]:
# Right-angled triangle of stars
n = 5
for i in range(1,n+1):
    for j in range(i):
        print("*",end = " ")
    print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
s = 10
e = 30
count = 0
for i in range(s, e + 1):
  if i < 2:
    continue
  for j in range(2, int(i**0.5) + 1):
     if i % j == 0:
        break
  else:
    print(i, end=" ")
    count += 1
print("\n Total prime numbers:",count)

11 13 17 19 23 29
 Total prime numbers: 6

In [ ]:
n =int(input())
rev = 0
while n > 0:
  rev = rev*10+n%10
  n//=10
  print(rev)

In [ ]:
n = 4
for i in range(1,n+1):
  for j in range(1,i+1):
    if j == 1 or j == i or j == n:
      print(i,end=" ")
    else:
      print(" ",end=" ")
  print()

In [ ]:
n = 3
for i in range(n):
    print(" " * (n - i - 1) + "*" * (2*i + 1))
for i in range(n - 2, -1, -1):
    print(" " * (n - i - 1) + "*" * (2*i + 1))

In [ ]:
for i in range(3):
    if i == 1:
        continue
    print(i)

In [ ]:
x = 5
while x:
    x -= 1
    if x == 2:
        break
    print(x, end=' ')

In [ ]:
count = 0
for i in range(1, 10):
    if i % 3 == 0:
        break
    count += 1

In [ ]:
arr = list(map(int, input().split()))
def max_min(arr):
  maximum = arr[0]
  minimum = arr[0]
  for i in arr:
    if i > maximum:
      maximum = i
    elif i < minimum:
      minimum = i
  return maximum,minimum
print(max_min(arr))

18 2 10 4 9
(18, 2)

In [ ]:
arr = list(map(int, input().split()))

def removeduplicate(arr):
    if not arr:
        return 0, []

    k = 1
    for i in range(1, len(arr)):
        if arr[i] != arr[i - 1]:
            arr[k] = arr[i]
            k += 1
    return k, arr[:k]

k, unique = removeduplicate(sorted(arr))
print("Unique count:", k)
print("Unique elements:", unique)

18 2 4 3 2
Unique count: 4
Unique elements: [2, 3, 4, 18]

In [ ]:
nums = [1,2,2,3,4]
val = 2
k = 0
for i in range(len(nums)):
  if nums[i] != val:
    nums[k] = nums[i]
    k += 1
print("k =", k)
print("Modified nums (first k elements):", nums[:k])

k = 3
Modified nums (first k elements): [1, 3, 4]

In [ ]:
from typing import List
class Solution:
    def searchInsert(self, nums: List[int], target: int) -> int:
        left = 0
        right = len(nums)-1
        while left <= right:
            mid = (left + right)//2
            if nums[mid] == target:
               return mid
            elif nums[mid] < target:
               left = mid + 1
            else:
               right = mid -1
        return left

In [ ]:
num1 = [1, 2, 3, 0, 0, 0]
m = 3
num2 = [2, 5, 6]
n = 3
def merge(num1,m,num2,n):
  i = m-1
  j = n-1
  k = m+n-1
  while i >= 0 and j >= 0:
    if num1[i] > num2[j]:
      num1[k] = num1[i]
      i -= 1
    else:
      num1[k] = num2[j]
      j-=1
    k-=1
  while j >= 0:
    num1[k] = num2[j]
    j-=1
    k-=1
merge(num1, m, num2, n)
print(num1)

[1, 2, 2, 3, 5, 6]

In [ ]:
digits = list(map(int, input("Enter digits seperated by space: ").split()))
n = len(digits)
for i in range(n-1,-1,-1):
  if digits[i] < 9:
    digits[i] += 1
    print(digits)
    break
  digits[i] = 0
else:
  digits = [1] + digits
  print(digits)

Enter digits seperated by space: 1 2 3
[1, 2, 4]

In [ ]:
r = [1,2,3]
n = len(r)
r[n-1]=r[n-1]+1
print(r)

[1, 2, 4]

In [ ]:
from typing import List, Optional

class TreeNode:
    def __init__(self, val: int):
        self.val = val
        self.left: Optional[TreeNode] = None
        self.right: Optional[TreeNode] = None

class Solution:
    def sortedArray(self, nums: List[int]) -> Optional[TreeNode]:
        if not nums:
            return None
        mid = len(nums) // 2
        root = TreeNode(nums[mid])
        root.left = self.sortedArray(nums[:mid])
        root.right = self.sortedArray(nums[mid+1:])
        return root
def inorder(root: Optional[TreeNode]):
    if root:
        inorder(root.left)
        print(root.val, end=' ')
        inorder(root.right)

# Example usage
nums = [-10, -3, 0, 5, 9]
sol = Solution()
tree = sol.sortedArray(nums)
print("Inorder traversal of BST:")
inorder(tree)

Inorder traversal of BST:
-10 -3 0 5 9

In [ ]:
n = list(map(int, input().split()))
nums.sort()
result = max(nums[-1] * nums[-2] * nums[-3], nums[0] * nums[1] * nums[-1])

print(result)

123
6

In [ ]:
def generate(numrows):
  t = []
  for i in range(numrows):
    r = [1] * (i+1)
    for j in range(1,i):
      r[j] = t[i-1][j-1]+t[i-1][j]
    t.append(r)
  return t

n = int(input("Enter number of rows: "))
result = generate(n)
print(result)

Enter number of rows: 5
[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 6, 4, 1]]

In [ ]:
def majorityElements(nums):
  count = 0
  c = None
  for num in nums:
    if count == 0:
      c = num
    count += 1 if num == c else -1
  if nums.count(c) > len(nums)//2:
     return c
  else:
    return -1
nums = [6, 5, 5]
print(majorityElements(nums))

5

In [ ]:
rowIndex = int(input("Enter row index: "))

row = [1]
for i in range(1, rowIndex + 1):
    new_row = [1]
    for j in range(1, len(row)):
        new_row.append(row[j - 1] + row[j])
    new_row.append(1)
    row = new_row

print("Pascal's Triangle Row:", row)

Enter row index: 3
Pascal's Triangle Row: [1, 3, 3, 1]

In [ ]:
def max_prices(prices):
  min_price = float('inf')
  max_profit = 0
  for price in prices:
    if price < min_price:
      min_price = price
    else:
      profit = price-min_price
      if profit > max_profit:
        max_profit = profit
  return max_profit
prices = [7,1,5,3,6,4]
print(max_prices(prices))

5

In [ ]:
nums = list(map(int, input().split()))
print(len(nums) != len(set(nums)))

1 2 2 3 4
True

In [ ]:
nums = [1,2,3,4,5,5]
r = 0
for num in nums:
  r^=num
print(r)

4

In [ ]:
def contains_nearby_duplicate(nums, k):
    seen = {}
    for i, num in enumerate(nums):
        if num in seen and i - seen[num] <= k:
            return True
        seen[num] = i
    return False
print(contains_nearby_duplicate([1, 2, 3, 1], 3))

True

In [ ]:
nums = [3, 0, 1]

n = len(nums)
expected_sum = n * (n + 1) // 2
actual_sum = sum(nums)
missing = expected_sum - actual_sum

print(missing)

2

In [ ]:
nums = [0,1,2,4,5,7]
res = []
i = 0
while i < len(nums):
  start = nums[i]
  while i + 1 < len(nums) and nums[i + 1] == nums[i] + 1:
    i += 1
  end = nums[i]
  res.append(f"{start}->{end}" if start  != end else str(start))
  i += 1
print(res)

['0->2', '4->5', '7']

In [ ]:
def maximummedium(nums):
  nums.sort()
  n = len(nums)
  res = 0
  for i in range(n//3, n, 2):
    res += nums[i]
  return res
nums = [1,2,3,1,2,4]
print(maximummedium(nums))

5

In [ ]:
def ispalindrome(x):
    s = str(x)
    return s == s[::-1]
x = "madam"
print(ispalindrome(x))

True

In [ ]:
a = "1010"
b = "1011"
s = bin(int(a, 2) + int(b, 2))[2:]
print(s)

10101

In [1]:
def product_except_self(nums):
  n = len(nums)
  o = [1] * n
  prefix = 1
  for i in range(n):
    o[i] *= prefix
    prefix *= nums[i]
  suffix = 1
  for i in range(n-1,-1,-1):
    o[i] *= suffix
    suffix *= nums[i]
  return o
print(product_except_self([1, 2, 3, 4]))
print(product_except_self([-1, 1, 0, -3, 3]))

[24, 12, 8, 6]
[0, 0, 9, 0, 0]